## Homework 02 - Data from the Web

*Remark:* whether you are interested in running all the cells (including the scraping) do that, otherwise, if you want just run the analysis, in the folder `Data_bachelor/` or `Data_master/` you find all the data used in the further analysis. For the tidiness of the notebook the functions used in the script are stored in the file `scraping_function.py`, `analysis_bachelor`.

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import time
import glob
from scraping_function import *
from analysis_bachelor import *

### Assignment 1

The final goal of the task is to verify whether the difference between the number of months that girls took from the first to the sixth semester and the number of months taken by boys, in average, is statistically significant.

Before accomplishing the task we need to pass through the following steps:

1. Obtain all the data for the Bachelor students, starting from 2007.
2. Keep only the students for which you have an entry for both Bachelor semestre 1 and Bachelor semestre 6.
3. Compute how many months it took each student to go from the first to the sixth semester.

#### Step 1

The first thing we do, in order to retrieve the data of interest, is to parse the `html` source related to the `IS-Academia` web page (the one where you have to fill in the form to get the enrolled students).

In [2]:
# Request the html source for the URL
r = requests.get('http://isa.epfl.ch/imoniteur_ISAP/!GEDPUBLICREPORTS.filter?ww_i_reportModel=133685247')
html = r.content
soup = BeautifulSoup(html, 'html.parser')

With the help of *Postman* we identify the *parameters* useful to get the data. They result to be the following:

* `ww_x_GPS`
* `ww_i_reportmodel`
* `ww_i_reportModelXsl`
* `ww_x_UNITE_ACAD`
* `ww_x_PERIODE_ACAD`
* `ww_x_PERIODE_PEDAGO`
* `ww_x_HIVERETE`

We gather them into a dictionary of the following form:

                 {'parameter_1' : {'name_1' : value_1, ..., 'name_n' : value_n},
                  'parameter_2' : {'name_1' : value_1, ..., 'name_n' : value_n},
                   ...........,
                  'parameter_k' : {'name_1' : value_1, ..., 'name_n' : value_n}}
 
Where `parameter_X` is the name the relavant parameter to retrieve, `name_X` and `value_X` are two possible expressions of the parameter (string and numerical respectively). The function to do that is `create_parameter_dict` and it's stored in the [file](Applied data analysis - ADA/scaping_function.py) aforementioned.

In [3]:
# Create the dictionary of parameters
par = ["ww_x_UNITE_ACAD", "ww_x_PERIODE_ACAD", 'ww_x_PERIODE_PEDAGO', 'ww_x_HIVERETE']
dic_par = create_parameter_dict(par, soup)

Thus, we choose and define the procedure to retrieve the information. After analyzing various `URLs`, with the help of *Postman*, we decide that we are going to make in total six requests, each of those consists of asking the list of the students for all the years related to a specific *pedagogic period*. The `URLs` have the following form:
* `ww_x_GPS = -1` : in this way we gather all the data of the page
* `ww_i_reportmodel = 133685247` : standard value of the parameter
* `ww_i_reportModelXsl = dic_par['ww_i_reportModelXsl']['html']` : that specify the form of the data (`html`)
* `ww_x_UNITE_ACAD = dic_par['ww_x_UNITE_ACAD']['Informatique']` : the value that corresponds to the students of Informatique
* `ww_x_PERIODE_PEDAGO: dic_par['ww_x_PERIODE_PEDAGO'][semester]` : the code relative to a specific semester
We don't specify anything about the season and the year beacause we decide to retrive everything related to a particular semester.

In [4]:
# Create the list of the URLs we are making the request to
urls = []

# For each possible semester, 
for semester in dic_par['ww_x_PERIODE_PEDAGO']:
    # Except for those known as semester 5b and 6b that DON'T contain data
    if semester.startswith('Bachelor') and semester[-1] != 'b':  
        # We define the link to append to our list
        url_data = 'http://isa.epfl.ch/imoniteur_ISAP/!GEDPUBLICREPORTS.html?ww_x_GPS=-1&ww_i_reportModel=133685247&ww_i_reportModelXsl=' + dic_par['ww_i_reportModelXsl']['html'] + '&ww_x_UNITE_ACAD=' + dic_par['ww_x_UNITE_ACAD']['Informatique'] + '&ww_x_PERIODE_PEDAGO=' + dic_par['ww_x_PERIODE_PEDAGO'][semester]
        urls.append(url_data)

Once the list of links is ready, we proceed retrieving data. To do that we are going to use a function `retrieve_data` which does the following:
- The gathered `html` source code is transformed in a `DataFrame`. 
Since the `html` contains more than one table..
- We are going to split the frame (using the function `fun_rec`) 
Below an image which tries to explain the procedure used to split the big `DataFrame`.

In [5]:
from IPython.display import IFrame
IFrame('disegno_pdf.pdf', width=980, height=500)

- We clean the data using the `clean_df` function, in this step we keep the data of the years of interest 
- And finally save the cleaned `DFs` in `.csv` files (using the `save_data` function)

In [6]:
import os

try:
    os.mkdir('Data_bachelor', 777)
    k = 0
    for ur in urls:
        k += 1
        print ( k, ' request sent.')
        save_data(ur, 'Data_bachelor/')
        print ('Data collected from the ', k, ' request.')
        print ('*****'*10)
    print('Done')
except:
    pass # Data is already fetched

#### Step 2
Now that we have all the data stored, we import and start to analyze them!

We read the `.csv` fies as `DataFrame`, thus we concatenate them on the axis 0. It's done by the `import_data` function.

In [7]:
data = import_data('Data_bachelor/')

Hence, we proceed accomplishing the task of this step, in fact we filter the df according to the required criteria. In particulare we `groupby` the frame according to the *Sciper number* that is unique for each enrolled student. Then we keep only the students (group) that have in the domain *Pedagogic period* at least one *Semester 1 & Semester 6*. A more technical procedure is explained inside the function `extract_students`.

In [8]:
df_students = extract_students(data)

In [9]:
df_students.head()

,Civilité,Nom Prénom,Orientation Bachelor,Orientation Master,Spécialisation,Filière opt.,Mineur,Statut,Type Echange,Ecole Echange,No_Sciper,Academic year,Pedagogic period
0,Monsieur,Arévalo Christian,NaN,NaN,NaN,NaN,NaN,Présent,NaN,NaN,169569,2007-2008,Bachelor semestre 1
1,Monsieur,Aubelle Flavien,NaN,NaN,NaN,NaN,NaN,Présent,NaN,NaN,174905,2007-2008,Bachelor semestre 1
3,Monsieur,Baeriswyl Jonathan,NaN,NaN,NaN,NaN,NaN,Présent,NaN,NaN,179406,2007-2008,Bachelor semestre 1
4,Monsieur,Barroco Michael,NaN,NaN,NaN,NaN,NaN,Présent,NaN,NaN,179428,2007-2008,Bachelor semestre 1
7,Monsieur,Bindschaedler Vincent,NaN,NaN,NaN,NaN,NaN,Présent,NaN,NaN,179449,2007-2008,Bachelor semestre 1

#### Step 3

In this step we compute how many months each student spent to get from the 1st to the 6th semester. The assumptions we rely on are the following:
- A student reach the *Semester 6* whether he doesn't have to sit again any other semester. We make this assumption because we think that the choice of the 6th semester is useful to compute the time an epfl student need to graduated at bachelor
- Each semester lasts 6 months

Before getting the duration of studies for each student, since we want to get their names, we check whether the name could be considered as an index. The way we do that is that the number of *names* should be equal to the number of *Scipers*.

In [10]:
len(df_students['Nom Prénom']) == len(df_students['No_Sciper'])

True

Thus, we `groupby` the *name* of the student and then we get the number of rows (`size`) of the group. It corresponds exactly to months needed by the student to reach the 6th semester.

In [11]:
df_grouped = df_students.groupby('Nom Prénom')

The number of semester which the student resulted to have been enrolled is multiplied by 6 that is the duration of a semester according to our assumption.

In [12]:
df_grouped.size()*6

Nom Prénom
Abate Bryan Jeremy                             36
Aiulfi Loris Sandro                            72
Alami-Idrissi Ali                              36
Alfonso Peterssen Alfonso                      36
Alonso Seisdedos Florian                       66
Amorim Afonso Caldeira Da Silva Pedro Maria    48
Andreina Sébastien Laurent                     48
Angel Axel                                     36
Angerand Grégoire Georges Jacques              60
Antognini Marco                                48
Aoun Leonardo                                  36
Arnfred Jonas                                  36
Arévalo Christian                              36
Aubelle Flavien                                60
Augsburger Damien                              36
Babst Timo Philip                              36
Bachmann Roman Christian                       36
Baeriswyl Jonathan                             48
Balle Daniel                                   42
Balmau Oana Maria                              36
Baraschi Zoé                                   54
Barben Loïc                                    36
Barroco Michael                                48
Barthe Sidney                                  54
Bastin Cédric                                  36
Beaud Guillaume François Paul                  48
Beau Joris                                     36
Beck Johannes Magnus                           36
Beguet Eric                                    36
Beguet Romain Michel                           36
                                               ..
Vaucher Timoté Pascal                          36
Vautherin Jonas                                36
Verstegen Noortje                              36
Vessaz Florian                                 42
Vessaz Yannick                                 36
Veuthey Alexandre Bernard Robert               36
Viaccoz Thierry                                36
Vion Roger                                     60
Voirol Nicolas Charles Yves                    36
Von Aarburg Raphaël Richard                    36
Vostriakov Alexander                           60
Walch Pierre                                   36
Watrin Thibaut                                 42
Weber Martin Takeya                            66
Weier Philippe                                 36
Weiskopf Robin                                 48
Wenger Amos                                    48
Widmer Florian                                 36
Willemin Xavier                                66
Wirz Leonardo Enrique                          48
Zablotchi Mihail Igor                          36
Zbinden Boris Adrien                           42
Zellweger Fabien André                         54
Zellweger Vincent                              48
Zenhäusern Joey Kevin                          54
Zhou Yunpeng                                   36
Zimmermann Marc                                36
Zoller Roman                                   36
Zommerfelds Christian Georges                  36
Zürn Christophe                                36
dtype: int64